body {
  font-family: Arial, sans-serif;
  background: #83838383;
  padding: 2rem;
}
.container {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  align-items:center;
  justify-content:center;
  display:flex;
  flex-direction:column;
}
input,
button {
  padding: 0.7rem;
  font-size: 1rem;
  margin-top: 1rem;

}
button:hover{
  background-color: #dbdbdbff;
  cursor: pointer;
}
#results {
  margin-top: 2rem;
}
.product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}
.product img {
  max-width: 100px;
  border: 1px solid;
}
